/* ========================================
Base Styles
=========================================== */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #222;
  text-align: center;
}

/* ========================================
Link Styles
=========================================== */

a {
  text-decoration: none;
  color: #222;
}
a:hover {
  color: #0399ff;
}

/* ========================================
Base Styles
=========================================== */

.container {
  direction: flex;
  margin: 0 25px;
}

header {
  background-color: #0399ff;
  margin: -25px -25px 1px;
  padding: 1px 1px 1px;
}

#nav-links-container {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  height: 200px;
}

.nav-link-items {
  background-color: #ededed;
  border-radius: 5px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

#nav-link-item-2 {
  margin: 10px 0;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li.name {
  padding-top: 1px;
}

#profile-picture {
  padding-top: 45px;
}

#introduction {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 10px 27px 30px;
}

main {
  background-color: #ffffff;
  padding-top: 1px;
  margin-top: 1px;
}

#portfolio-title {
  padding: 40px 0 40px;
}

.projects {
  margin: 0px;
}

.portfolio-images {
  width: 100%;
}

figcaption {
  padding: 10px 0px 20px;
}

figcaption p {
  padding: 0px 20px;
  font-weight: 300;
}

#contact {
  background-color: #0399ff;
  margin: 0px -25px;
}

#contact-container {
  margin: 0px 25px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.7);
}

#contact-title {
  padding: 60px 0px 10px;
}

#contact-paragraph {
  padding: 1px 0px 20px;
}

/* #phone-email-container {
  padding: 0px 40px;
} */

#phone,
#email {
  display: flex;
  justify-content: space-between;
}

#phone {
  padding: 0px 115px;
}

#email {
  padding: 5px 97px 60px;
  margin-bottom: 0px;
}

footer {
  background-color: #0399ff;
}

#footer-list {
  margin: 0px 20px;
  padding: 25px 0px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

#footer-name {
  display: block;
  margin-right: auto;
}

#back-to-top:hover,
#email-link:hover {
  color: #ffffff;
}

/* ========================================
Media Queries
=========================================== */

@media only screen and (min-width: 768px) {
  #back-to-top {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  #back-to-top {
    display: none;
  }
}
