/* ========================================
Base Styles
=========================================== */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #222;
  text-align: center;
}

/* ========================================
Link Styles
=========================================== */

a {
  text-decoration: none;
  color: #222;
}
a:hover {
  color: #0399ff;
}

/* ========================================
List Styles
=========================================== */

#nav-list,
#footer-list {
  list-style-type: none;
  padding-left: 0px;
}

#skills-list-container {
  padding: 1px;
}

#skills-list {
  list-style-type: none;
  color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height: 40px;
  padding: 1px 40px 1px 40px;
}

.skills-list-items {
  width: 40px;
  height: 30px;
  display: flex;
}

/* .skills-list-items a {
  width: 30px;
  height: 30px;
} */

.skills-list-items i {
  width: 40px;
  height: 30px;
  font-size: 30px;
}

/* ========================================
Base Styles
=========================================== */

.container {
  direction: flex;
  margin: 0 25px;
}

header {
  background-color: #0399ff;
  margin: -25px -25px 1px;
  padding: 1px 1px 1px;
}

#nav-links-container {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  height: 200px;
}

.nav-link-items {
  background-color: #ededed;
  border-radius: 5px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

#nav-link-item-2 {
  margin: 10px 0;
}

li.name {
  padding-top: 1px;
  font-family: "Roboto", sans-serif;
}

#profile-picture {
  padding-top: 45px;
}

#introduction {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 10px 27px 30px;
}

main {
  background-color: #ffffff;
  padding-top: 1px;
  margin-top: 1px;
}

#portfolio-title {
  padding: 40px 0 40px;
}

.project-figures {
  margin: 0px;
}

.portfolio-images {
  width: 100%;
}

figcaption {
  padding: 10px 0px 20px;
}

figcaption p {
  padding: 0px 20px;
  font-weight: 300;
}

#contact {
  background-color: #0399ff;
  margin: 0px -25px;
}

#contact-container {
  margin: 0px 25px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.7);
}

#contact-title {
  padding: 60px 0px 10px;
}

#contact-paragraph {
  padding: 1px 0px 20px;
}

#phone-email-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#phone {
  padding: 0px 12px 0px 0px;
}

#email {
  padding: 5px 12px 60px 0px;
  margin-bottom: 0px;
}

span {
  padding-left: 12px;
}

footer {
  background-color: #0399ff;
}

#footer-list {
  margin: 0px 25px;
  padding: 25px 0px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

#footer-name {
  display: block;
  margin-right: auto;
}

#back-to-top:hover,
#email-link:hover {
  color: #ffffff;
}

/* ========================================
Media Queries
=========================================== */

@media only screen and (max-width: 767px) {
  .nav-link-items-bottom {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  li.name {
    padding-top: 45px;
  }
  #nav-links-container {
    flex-direction: row;
    justify-content: center;
    padding: 0px 170px;
    height: 65px;
  }
  .nav-link-items {
    background-color: #0399ff;
    margin: 0px;
  }
  #nav-link-item-2 {
    padding: 0px 25px;
    margin: 0px;
  }
  .nav-link-items-bottom a:hover {
    color: #fff;
  }
  .nav-link-items a:hover {
    color: #fff;
  }
  #pic-and-introduction {
    display: flex;
    flex-direction: row;
    padding: 0px 30px 70px;
  }
  #profile-picture {
    padding: 30px 0px 0px;
  }
  #introduction {
    order: -1;
    margin: 0px;
    padding: 30px 40px 0px 0px;
    text-align: start;
    font-size: 1.5rem;
  }
  #projects-container {
    display: flex;
    flex-wrap: wrap;
  }
  .projects {
    flex: 1 47%;
    margin: 0px 10px;
  }
  figcaption p {
    padding: 0px 50px;
  }
  #contact-container {
    padding-bottom: 60px;
  }
  #contact-paragraph {
    padding: 0px 120px;
    font-size: 1.2rem;
    font-weight: 300;
  }
  #phone-email-container {
    padding-top: 20px;
  }
  #back-to-top {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    background-color: #0399ff;
  }
  .container {
    margin: 0 40px;
  }
  header {
    background-color: #0399ff;
    margin: -25px -30px 1px;
    padding: 1px 1px 1px;
  }
  #nav-links-container {
    padding: 0px;
  }
  #nav-link-item-2 {
    padding: 0px 35px;
  }
  li.name {
    padding-top: 0px;
  }
  #pic-and-introduction {
    padding: 0px 70px 70px;
  }
  main {
    padding: 1px 30px 0px;
  }
  .projects {
    flex: 1 31%;
    margin: 0px 10px;
  }
  figcaption {
    padding: 10px 0px 30px;
  }
  figcaption p {
    padding: 0px 20px;
  }

  #contact {
    margin: 0px -30px;
  }
  #contact-title {
    font-size: 1.1rem;
  }
  #contact-paragraph {
    padding: 0px 320px;
    font-size: 1.2rem;
    font-weight: 300;
  }
  #phone-email-container {
    font-size: 1.2rem;
  }
  #footer-list {
    margin: 0px 65px;
  }

  #nav-list {
    margin: 40px 69px 0px;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
  }

  .name {
    display: block;
    margin-right: auto;
  }
  #back-to-top {
    display: none;
  }
}
